/web/bundles/
/web/upload/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/config/parameters_chat.yml
!/app/config/parameters.yml.dist
!/app/config/config.yml
!/app/config/config_dev.yml
!/app/config/routing.yml
!/app/config/security.yml
!/app/config/services.yml
/app/config/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/myermine/
/bin/
/data/
/composer.phar
*.bak
*.iml
*~
.idea/
#
