[=TEST PAGE!=]
<form method="post" action="/api/registers">
    {#os  <input type="text" value="1006534912692844" name="os">#}
    {#deviceToken <input type="text" value="" name="deviceToken">#}
    <input type="text" value="CAAUf6Dz5JSABAANuVqlP21YmyOaaPcs37eFhg83CTlwIZCO8zDtL6HWUc4zeQEOLSZAB47PBsgEqILRZCOAk8azlnAY3Kpk8mhlAK8SXkaTcPWf1oQMB5FkcyyAm0CuQu7ZCP0MfmpYP85SRJOsk9ig0jaDVUwzYsz4OqZCZAkJACvb0TLf9ZCaML3qtlDYeJvrERUEp8qvAuiaHwWQQD1jgblBrtuZA2YgvGxa57CF85wZDZD" name="fbToken">
    <input type="text" value="1006534912692844" name="fbId">

    <input type="submit" value="send">
</form>





